<div class="contaiiner">
  <h1>Connexion admin</h1>
  <div>
    <div [hidden]="!error" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-gidden="true"></span>
      <span class="sr-only">Error: </span>
      {{ error }}
    </div>
    <div class="wrapper">
      <div class="card radius shadowDepth1">
        <div class="card__content card__padding">
          <div class="card__share">
            <div class="card__social">  
            </div>
          </div>
          <article class="card__article">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
              <div class="form-group">
                <label for="admin">Nom d'admin:</label>
                <input type="text" class="form-control" placeholder="Nom admin" formControlName="username">
              </div>
              <div class="form-group">
                <label for="comment">Mot de passe:</label>
                <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
              </div>
              <button type="submit" class="btn btn-success margin-top-15" [disabled]="!loginForm.valid">Connexion</button>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>