<div [hidden]="!error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error : </span>
  {{ error }}
</div>

<div class="wrapper">
  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
    	<img src="{{ postDetail.url_image }}" alt="image" class="border-tlr-radius">
    </div>
    <div class="card__content card__padding">
      <div class="card__share">
        <div class="card__social">  
        </div>
      </div>
    	<article class="card__article">
  	  	<h2>{{ postDetail.title }}</h2>
	  		<p>{{ postDetail.post }}</p>
	    </article>
</div>
</div>
      <br/><hr/><br/>
      
      <h3>Commentaire(s):</h3>
      <div *ngFor="let comment of comments">
        <!-- <label>Pseudo:  </label>
        <input type="text" class="form-control" value="{{comment.aliases}}"> -->
        <div class="comments-container">

          <ul id="comments-list" class="comments-list">
            <li>
              <div class="comment-main-level">
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="image"></div>
                <div class="comment-box">
                  <div class="comment-head">
                    <h6 class="comment-name by-author"><a href="#">{{comment.pseudo}}</a></h6>
                    <span>hace 20 minutos</span>
                    <i class="fa fa-reply"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <br/><hr/><br/>
      <div>
        <form [formGroup]="commentForm" (ngSubmit)="addComment(postDetail.id)">
          <div class="form-group">
            <label for="usr">Pseudo:</label>
            <input type="text" class="form-control" id="usr" formControlName="pseudo">
          </div>
          <div class="form-group">
            <label for="comment">Commentaire:</label>
            <textarea class="form-control" rows="5" id="comment" formControlName="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary margin-top-15">Envoyer</button>
        </form>
      </div>
    </div>    

