<!--<div class="header">
  <div class="wrapper">
    <h1 style="border:outset;"><a routerLink="">Sur les nerfs</a></h1>
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="post">Posts</a></li>
      <li><a routerLink="post/create">Créer un post</a></li>
      <li><a routerLink="comment">Commentaires</a></li>
    </ul>
  </div>
</div>-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Sur les Nerfs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">Accueil</a></li>
      <li><a routerLink="post">Posts</a></li>
      <li><a routerLink="post/create">Créer un post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>Admin</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
