<h1>Liste de tous les commentaires existants</h1>
<div [hidden]="!error" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error : </span>
	{{ error }}
</div>


<div *ngFor="let comment of comments">
	<a routerLink="comment/{{comment.id}}">{{comment.aliases}}</a>
	<button class="btn btn-danger">supprimer</button>
</div>