<h1>Posts</h1>

<div [hidden]="!error" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error : </span>
	{{ error }}
</div>

<div class="wrapper" *ngFor="let post of posts">
	<div class="card radius shadowDepth1">
		<div class="card__image border-tlr-radius">
			<img src="{{ post.url_image }}" alt="image" class="border-tlr-radius">
		</div>
		<div class="card__content card__padding">
			<div class="card__share">
				<div class="card__social">  
				</div>
			</div>
			<article class="card__article">
				<h2><a routerLink="/post/{{ post.id }}">{{ post.title }}</a></h2>
				<button type="button" class="btn btn-warning" routerLink="/post/update/{{ post.id }}">Modifier</button>
				<button type="button" class="btn btn-danger" (click)="deletePost(post.id)">Supprimer</button>
			</article>
		</div>
	</div>
</div>