<div [hidden]="!error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error : </span>
  {{ error }}
</div>

<div class="wrapper">
  <div class="card radius shadowDepth1">
    <div class="card__content card__padding">
      <div class="card__share">
        <div class="card__social">  
        </div>
      </div>
    	<article class="card__article">
  	  	<form [formGroup]="postForm" (ngSubmit)="addPost()">
          <div class="form-group">
            <label for="usr">Titre:</label>
            <input type="text" class="form-control" placeholder="Titre" formControlName="title">
          </div>
          <div class="form-group">
            <label for="comment">Contenu:</label>
            <textarea class="form-control" rows="5" placeholder="Contenu" formControlName="post"></textarea>
          </div>
          <div class="form-group">
            <label for="usr">Url image:</label>
            <input type="text" class="form-control" placeholder="Url" formControlName="url_image">
          </div>
          <button type="submit" class="btn btn-success margin-top-15" [disabled]="!postForm.valid">Nouveau post</button>
        </form>
	    </article>
    </div>
	</div>
</div>