<div class="contaiiner">
  <h1>Modifier un post</h1>
  <div>
    <div [hidden]="!error" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-gidden="true"></span>
      <span class="sr-only">Error: </span>
      {{ error }}
    </div>
    <form [formGroup]="postUpdateForm" (ngSubmit)="updatePost(postDetail.id)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Titre" formControlName="title" value="{{ postDetail.title }}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Contenu" formControlName="content" value="{{ postDetail.post }}">
      </div>
       <div class="form-group">
        <input type="text" class="form-control" placeholder="Url de l'image" formControlName="url_image" value="{{ postDetail.url_image }}">
      </div>
      <button type="submit" class="btn btn-success pull-right" [disabled]="!postUpdateForm.valid">Modifier</button>
    </form>
  </div>
</div>